<footer class="footer">
  <smail>
    The <a href="https://railstutorial.jp/">Yousukeのポートフォリオ</a>
    by <a href="https://twitter.com/beanbeenzou">Yousuke</a>
  </smail>
  <nav>
    <ul>
      <li><%= link_to "About",  '#' %></li>
      <li><%= link_to "Contact",  '#' %></li>
    </ul>
  </nav>
</footer>